<!DOCTYPE html>
<html>

<body>
<div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1>Schedule</h1>
                <p>Between 9-12 AM we have some talks, then we go sail to next port where we have 30-45m LT session and then we have a party. We sleep on the boats.</p>

                <h1>CFP</h1>
                <p>Cmon! Lets make speakers list together. For now we have: (alhpabetical order):</p>
                <ul class="list-unstyled"><ul><ul>
                <li>Andrzej Krzywda - 'when rails presenters are a smell and what to do about it'</li>
                <li>Norbert Wójtowicz - TBA</li>
                <li>Wojciech Piekutowski - TBA</li>
                </ul>
                </ul>
                </ul>

                <p>Lightin talks:</p>
                <ul class="list-unstyled"><ul><ul>
                <li>Michał Matys - 'Small experiment to (hopefully) improve test coverage'</li>
                <li>Paweł Kondzior - 'Something about rust, if I'm allowed to talk non ruby things '</li>

                </ul></ul></ul>

               <h1>Skippers</h1>
               <p>If you have the licence and want to be a skipper - please let me know</p>

               <h1>People</h1>
               <p>Feel free to invite other devs or just your friends ;]</p>

               <h1>Sailing</h1>
               <p>These are ships we will take:<a href='http://northman.pl/en/jachty/maxus-28-3/#gallery'> Gallery</a></p>

              <h1>Route</h1>
              <p>Sztynort -> Węgorzewo -> Sztynort</p>

              <h1>Date</h1>
              <p>29.08.2015- 31.08.2015</p>

              <h1>Cost</h1>
              <p>Cost is 1762zł per boat. These boats are designed for 10 people, but if you focus on comfort and stuff, because e.g. you want to take your wife & children then you should go with max 8 ppl per boat. </p>
              <p>At Sztynort and Węgorzewo we will rent a place where we can have the presentations. That is 100zł/hour so I assume we should get 500zł-600zł for that. Another cost are the port-payments which is about 100zł per boat for the whole cruise. And the last cost is deposit that will be returned after the cruise if we won't destroy our boats ;D (about 1000zł per boat). </p>
              <p>If we won't collect enough ruby-skippers than we have to hire some, then the cost will be a little bit higher. So for a person the whole cost should be about 250-350zł - depends on how many people will go per 1 boat. + deposit</p>

              <h1>CoC</h1>
              <p>Sailining ethics rules - also that is not official event but holidays with friends from community ;]</p>
            </div>
          </div>
        </div>
</body>

</html>
