<!DOCTYPE html>
<html>

<body>
<div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>Sign in</h2>
                <p>How can you sign in? please fill in the google form:<a href='https://docs.google.com/forms/d/1mAQ4Z6cIXBotIpG-Ngew6hhrZW5woify9Wq8nreUByo/viewform'> Form</a></p>
                <p>And the most important thing: This is not conference, I'm not an organization. That is a community event, made by community for community. When we get advance I collect it to my personal account and handle it on my own - so I won't give you any invoices or stuff - we do it like friends.</p>
                <p> If you are whole company that really want to have invoice for boats we can handle it by redirecting your company directly for boat-rentals-company and you will rent it from them with invoice (but i`m not sure about 30% discount that we already have then). </p>
                <p>I don't know what is the limit of the boats count for now, but i assume 50ppl is max that I can handle with my organization skills ;] Any questions? Prv me there, on skype: pan_sarin, or by email .</p>
            </div>
        </div>
      </div>
</body>

</html>
