<!DOCTYPE html>
<html>

<body>
<div class="container">

        <div class="row">
            <div class="col-lg-12">




               <h2>Skippers</h2>
                <p>If you have the licence and want to be a skipper - please let me know</p>

               <h2>People</h2>
                <p>Feel free to invite other devs or just your friends ;]</p>

               <h2>Sailing</h2>
                <p>These are ships we will take:<a href='http://northman.pl/en/jachty/maxus-28-3/#gallery'> Gallery</a></p>


              <h2>Cost</h2>
                <p>Cost is 1762zł per boat. These boats are designed for 10 people, but if you focus on comfort and stuff, because e.g. you want to take your wife & children then you should go with max 8 ppl per boat. </p>
                <p>At Sztynort and Węgorzewo we will rent a place where we can have the presentations. That is 100zł/hour so I assume we should get 500zł-600zł for that. Another cost are the port-payments which is about 100zł per boat for the whole cruise. And the last cost is deposit that will be returned after the cruise if we won't destroy our boats ;D (about 1000zł per boat). </p>
                <p>If we won't collect enough ruby-skippers than we have to hire some, then the cost will be a little bit higher. <b> So, for a person the whole cost should be about 250-350zł</b> - depends on how many people will go per 1 boat. <b>+ deposit</b></p>

              <h2>CoC</h2>
                <p>Sailining ethics rules - also that is not official event but holidays with friends from community ;]</p>
            </div>
          </div>
        </div>
</body>

</html>
