<!DOCTYPE html>
<html>
   <!-- Navigation -->
<body>

    <!-- Half Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/img/boat01.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Ruby on lakes</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/img/boat02.jpg');"></div>
                <div class="carousel-caption">
                    <h2>29.08.2015- 31.08.2015</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/img/boat33.jpg');"></div>
                <div class="carousel-caption">
                    <h2>Let's have a great time together!</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1>Ruby On Lakes</h1>

                    <h2>Date</h2>
                        <p>29.08.2015- 31.08.2015</p>
                    <h2>Route</h2>
                        <p>Sztynort -> Węgorzewo -> Sztynort</p>
                    <h2>Schedule</h2>
                        <p>Between 9-12 AM we have some talks, then we sail to next port where we have 30-45m LT session and then we have a party. We sleep on the boats.</p>
                    <h2>CFP</h2>
                        <p>Cmon! Lets make speakers list together. For now we have: (alhpabetical order):</p>
                        <ul class="list-unstyled"><ul><ul>
                        <li>Andrzej Krzywda - 'when rails presenters are a smell and what to do about it'</li>
                        <li>Maciej Aniserowicz (guest from .Net community) - CQRS</li>
                        <li>Norbert Wójtowicz -  'We need to talk. It's not you, it's your application architecture sensibilities.'</li>
                        <li>Wojciech Piekutowski - TBA</li>
                </ul>
                </ul>
                </ul>

                    <p>Lightin talks:</p>
                        <ul class="list-unstyled"><ul><ul>
                        <li>Adam Piotrowski - Basics o Sailing theory</li>
                        <li>Michał Matys - 'Small experiment to (hopefully) improve test coverage'</li>
                        <li>Paweł Kondzior - 'Something about rust, if I'm allowed to talk non ruby things '</li>

                </ul></ul></ul>
            </div>
        </div>

        <hr>

        <!-- Footer -->


    </div>
 </body>

</html>
